<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.1">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.transistorsoft.customtask</string>
		<string>com.transistorsoft.fetch</string>
	</array>
	<key>SOSLince</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SOSLince</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>

	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take a photo and update your user profile.</string>

	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library so you can select an image to update your user profile.</string>

	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs permission to save images to your photo library, allowing you to store photos taken for your profile.</string>

	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires access to your location at all times, including in the background, to share your location with emergency services when you press the help button.</string>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to your location while in use to determine your position and share it when you press the help button.</string>

	<key>NSMotionUsageDescription</key>
	<string>This app uses motion sensors to detect movement and enhance location accuracy for emergency assistance.</string>

	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>

	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
